{% extends "index.html"|pjax:request %}
{% load static %}

{% block cabecera %}
	<h3>{{ seconTitle }}</h3>
{% endblock%}

{% block sitebar %}
	<ul class="nav nav-pills nav-stacked">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	  <li role="presentation"><a href="#">Profile</a></li>
	  <li role="presentation"><a href="#">Messages</a></li>
	</ul>
{% endblock %}

{% block espaciotrabajo %}
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Informacion cabecera</div>
				</div>
				<div class="panel-body">
					<div class="col-xs-12 well">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsam, vel a, doloribus laboriosam neque eos ea eum et. Quas error, quaerat veniam architecto omnis accusantium placeat perferendis distinctio nam!
					</div>
					
					<div class="col-xs-12 well">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsam, vel a, doloribus laboriosam neque eos ea eum et. Quas error, quaerat veniam architecto omnis accusantium placeat perferendis distinctio nam!
					</div>
					<div class="col-xs-12 well">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsam, vel a, doloribus laboriosam neque eos ea eum et. Quas error, quaerat veniam architecto omnis accusantium placeat perferendis distinctio nam!
					</div>
					<div class="col-xs-12 well">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsam, vel a, doloribus laboriosam neque eos ea eum et. Quas error, quaerat veniam architecto omnis accusantium placeat perferendis distinctio nam!
					</div>
					<div class="col-xs-12 well">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsam, vel a, doloribus laboriosam neque eos ea eum et. Quas error, quaerat veniam architecto omnis accusantium placeat perferendis distinctio nam!
					</div>
					<div class="col-xs-12 well">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsam, vel a, doloribus laboriosam neque eos ea eum et. Quas error, quaerat veniam architecto omnis accusantium placeat perferendis distinctio nam!
					</div>
					<div class="col-xs-12 well">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsam, vel a, doloribus laboriosam neque eos ea eum et. Quas error, quaerat veniam architecto omnis accusantium placeat perferendis distinctio nam!
					</div>

				</div>
			</div>		

		</div>
	</div>
	
{% endblock %}
