{% extends "index.html" %}
{% load static %}

{% block cabecera %}
	<h3>{{ seconTitle }}</h3>
{% endblock%}

{% block espaciotrabajo %}
	<p> <a href="{% url "productos:list" %}">Listado Productos</a> </p>
	{% if product %}
		<p>Nombre: {{ product.name }} </p>
		<p>Descripción: {{ object.description }} </p>

		{% if object.category %}
			<p>Categoria: {{ object.category.ct_name }} </p>
		{% endif %}

		{% if  pr.image.url %}
			<p>Imagen <img src="{% static object.pr_image.url %}" /> </p>
		{% endif %}

		{% if gallery %}
			<div>
				<p> Galeria de Imagenes </p>
				<ul>
				{% for gal in gallery %}
					<li> <img src="{% static gal.image.url %}" /> </li>
				{% endfor %}
				</ul>
			</div>
		{% endif %}

	{% else %}
		<p>Error no se encontro el producto seleccionado....</p>
	{% endif %}
{% endblock%}
