{% extends "products/prIndex.html"|pjax:request %}
{% load static %}

{% block espaciotrabajo %}
	<div class="col-xs-9">
		<div class="row">
			<div class="form-group col-xs-12">
				<a class="btn btn-default " href="{% url "productos:list" %}">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Listado Productos
				</a>
			</div>
		</div>

		<!-- p> <a href="{% url "productos:list" %}">Listado Productos</a> </p-->
		<form method="post" enctype="multipart/form-data"> {% csrf_token %}
			<div class="row">
				<div class="form-group col-xs-12">
					¿Estás seguro que deseas borrar el elemento "{{ product }}"?
				</div>
				<div class="form-group col-xs-12">
					<input type="submit" class="btn btn-default" value="{{ bottonTitle }}" />
				</div>
			</div>
		</form>
	</div>
{% endblock%}
